h1{
    font-size: 40px;
}
table {
            border-collapse: separate;
            width: 100%;
        }
.meio{
    text-align: center;
}
.corfundo{
    background-color: rgb(170, 166, 166);
}
.fonteletras{
    font-family: 'Courier New', Courier, monospace;
}
.fonteletra1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.borda{
    border: 2px solid;
    border-color: green;
    border-width: 5px;
    background-color: green;
}
.borda1{
    border: 1px solid;
    border-color: rgb(120, 186, 120);
    border-width: 5px;
    background-color: rgb(120, 186, 120);
    border-radius: 30px;
}
.letra{
    font-size: medium;
}
.cor1{
    border: 1px solid;
    border-color: rgb(0, 0, 0);
    border-width: 2px;
    background-color: rgb(158, 150, 150);
    border-radius: 20px;
}
